.google_btn {
    width: 300px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
  }

  .search {
    width: 150px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
  }

  .red_btn {
    background-color: #ff5a5f;
    color: white;
    width: 80px;
    height: 45px;
    border: 0px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
  }
  .red_shadow {
    box-shadow: 3px 3px 0px 0px rgb(73, 63, 63);
  }

  .red_shadow_btn {
    background-color: #ff5a5f;
    color: white;
    width: 80px;
    height: 45px;
    border: 0px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    box-shadow: 3px 3px 0px 0px rgb(73, 63, 63);
  }

  .red_outline_btn {
    background-color: white;
    color: black;
    width: 80px;
    height: 45px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
  }

  .outline_btn {
    height: 30px;
    border-radius: 5px;
  }